<div class="container">
    <div class="thanks-text">
            <h1>
                Vielen Dank!
            </h1>
            <p>
                Du erhältst nun eine Mail von uns in der ein personalisierter Link enthalten ist. 
                Mit diesem Link gelangst du immer auf unseren Lernmaterial-Verteiler und kannst 
                so immer das neuste Lernmaterial bekommen.
            </p>
            <a href="https://webmail.uni-hildesheim.de" mat-raised-button color="primary">Zum Uni-Mail-Postfach</a>
    </div>
</div>
